<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>

    <include file="$(find kinect_robo)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="kinect" />
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)" />
        <arg name="sdf_robot_file" value="$(find kinect_robo)/models/kinect_camera/model.sdf" />
    </include>
</launch>